<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="p-3 mb-2 text-secondary">商品編集</h3>
        <%= render 'layouts/error', obj: @item %>
        <%= form_with model: @item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
         <%= render 'item_form', f: f %>
        <% end %>
    </div>
  </div>
</div>