<div class="container px-5 px-sm-0">
  <div class="row my-4">
     <div class="col-2"></div>
    <div class="col-3 pb-2 ad_item_edit_top">
      <i class="fas fa-edit ml-3 ad_item_edit_icon"></i>
      <span class="ad_item_edit_title ml-2">商品編集</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= render 'layouts/error', obj: @item %>
      <%= form_with model: @item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
       <%= render 'item_form', f: f %>
      <% end %>
    </div>
  </div>
</div>