<div class="container px-5 px-sm-0">
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-3 ad_items_new_top">
      <i class="fas fa-star ad_items_new_icon"></i>
      <span class="p-3 mb-2 ad_items_new_title">商品新規登録</span>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8 mt-5 mx-auto">
     <%= render 'layouts/error', obj: @item %>
     <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>
       <%= render 'item_form', f: f %>
     <% end %>
  </div>
</div>
</div>
