<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <div class="col-2"></div>
    <div class="col-3 customer_index_top">
        <i class="fas fa-users ml-3 customer_index_icon"></i>
        <span class="customer_index_title ml-2">会員一覧</span>
    </div>
  </div>
  <div class="row">
    <div id="paginate" class="col-8 mx-auto">
      <%= render 'index', customers: @customers %>
    </div>
  </div>
</div>