<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <h3 class="col-5 text-center pb-2">注文履歴一覧</h3>
    <div id="paginate" class="col-8 mx-auto">
      <%= render 'index' %>
    </div>
  </div>
</div>