header {
    background-color: #FFF7E3;
}

.header-link {
   border: double 5px #f8db6f;
}

.header-link:hover {
   background-color: #f8db6f;
}

.ad-footer {
   height: 80px;
   background-color: #E3ECFF;
 }

.customer-footer {
   height: 200px;
   padding: 20px 0px 20px;
   background-color: #E3ECFF;
 }

.color {
   color: #515151;
}

.pagination {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pagination li a {
    border: none;
    color: #2f3640;
}

.page-item.active .page-link {
    background-color: #FEC200;
}

.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.pagination li a:hover {
    background-color: #FEC200;
    color: #fff
}

.pagination li a:focus {
    background-color: #FEC200;
    color: #fff
}

.link {
    text-decoration: none;
    color: black ;
}
a.link:hover {
    color: #515151;
}