<div class="h-100 container color">
  <div class="row my-2 d-flex justify-content-center">
    <div class="col-md-1 text-center"><i class="fab fa-instagram fa-2x"></i></div>
    <div class="col-md-1 text-center"><i class="fab fa-twitter fa-2x"></i></div>
    <div class="col-md-1 text-center"><i class="fab fa-facebook-f fa-2x"></i></div>
  </div>

  <div class="row my-2 text-center">
    <div class="col py-2">
    	<div><i class="fas fa-phone-alt"></i> 050-1234-5678</div>
    	<div>〒222-0001 長野県xx市xx町1-1-1</div>
    	<div><i class="far fa-envelope"></i> nagano-cake@xxx.co.jp</div>
    	<p class="my-2">CopyRight &copy; Nagano Cake.inc All Rights Reserved.</p>
    </div>
  </div>
</div>


