<div class='container mt-5'>
  <div class='row'>
    <div class='mx-auto'>
      <div><i class="fa-brands fa-instagram"></i></div>
      <div><i class="fa-brands fa-twitter"></i></div>
      <div><i class="fa-brands fa-facebook-f"></i></div>
    	<p>CopyRight &copy; Nagano Cake.inc All Rights Reserved.</p>
    	<div>TEL：<i class="fa-solid fa-phone"></i>xxx-xxxx-xxxx</div>
    	<div>Address：<i class="fa-solid fa-location-dot"></i>長野県xx市xx町x-x-x</div>
    	<div>Contact Us：<i class="fa-solid fa-at"></i><i class="fa-solid fa-envelope"></i>nagano-cake@xxx.co.jp</div>
    </div>
  </div>
</div>


